In [1]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [2]:
import pandas as pd
must_ignore_link = '/content/drive/MyDrive/programming/data/must_ignore.xlsx'
show = pd.read_excel(must_ignore_link, sheet_name='test')
show

   계정1  계정2  계정3
0  ID1  ID2  111
1  PW1  PW2  222

In [3]:
show.iloc[0,0], show.iloc[0,2]

('ID1', 111)

In [4]:
type(show.iloc[0,0]), type(show.iloc[0,2]), type(str(show.iloc[0,2]))

(str, numpy.int64, str)